# configuration


(* some
  (* nested
    (* comments *)
  shown *)
here
*)


# define the commands that will be used
#   the definition is simply a list of strings starting with the program
#   two special items, window-id and tab-name take a format string argument
#     e.g    window-id("--embed=0x%08x")
#     or     "-embed" window-id("%d")

command xterm {
    "xterm"
    "-into" window-id("%d")
    "-class" tab-name("%s")
}

command emacs {
    "emacs"
    "--parent-id" window-id("%d")
}

command urxvt {
    "urxvt"
    "-embed" window-id("%d")
    "-pe" "default,-tabbed"
}

command gvim {
    "gvim"
    "-g"
    "--socketid" window-id("%d")
}


# specify the command and otions that will run in one of the tabs

pane p1 "Project 1" {
    run urxvt
    start manual
    running colour(0xffff,0x1fff,0x1fff)
    stopped colour(0x3fff,0x1fff,0x1fff)
    #cwd "/tmp"
    send-line "export PROJECT=p1"
    send-line "echo 'Hello World!'\"   [aa]{BB}\""
}

# Note: no cwd so starts in directory where conlecterm was started
pane p2 "Project 2" {
    run urxvt
    start manual
    running colour(0x1fff,0xffff,0x1fff)
    stopped colour(0x1fff,0x3fff,0x1fff)
    send-line "export PROJECT=p2"
}

pane p3 "Project 3" {
    run urxvt
    start manual
    running colour(0x1fff,0x1fff,0xffff)
    stopped colour(0x1fff,0x1fff,0x3fff)
    cwd "/tmp"
    send-line "pwd"
}

# user
pane p4 "Project 4" {
    run urxvt
    start manual
    running colour(0x3fff,0xffff,0x1fff)
    stopped colour(0x3fff,0x3fff,0x1fff)
    cwd ""   # same as "${HOME}"  (
    send-line "pwd"
}

# user relative
pane p5 "Project 5" {
    run urxvt
    start manual
    running colour(0x1fff,0xffff,0xffff)
    stopped colour(0x1fff,0x3fff,0x3fff)
    cwd ".config"    # no leading '/' so => "${HOME}/.config"
    send-line "pwd"
}


pane wk "Work" {
    run urxvt
    start manual
    send-line "export CONF=test1"
    send-line "work-setup"
}

pane tmp-sh "shell" {
    run urxvt
    start auto
    cwd "/tmp"
}

pane emacs "EMACS" {
    run emacs
    start auto
    #cwd home
}

pane xterm "xterm-etc" {
    run xterm
    start auto
    cwd "/etc"
}

pane gvim "Vi IMprove" {
    run gvim
    start auto
    #cwd home
}


# each program instance run one session
# specified by the "-session <session-name>" command option
# if this argument was missing the default session is loaded

# the default session
session default left {
    #tab emacs
    tab p1
    tab p2
    tab p3
    tab p4
    tab p5
    tab * 3 p1
    tab * 2 p2
    button p1
    button p2
    button p3
    button p4
    button p5
}

# a named session
session "work1" right {
    tab * 4 wk
    tab gvim
    button tmp-sh
}

# a named session
session "work2" top {
    tab * 2 wk
    tab p1
    button tmp-sh
}
