# configuration


(* some
  (* nested
    (* comments *)
  shown *)
here
*)


# define the commands that will be used
#   the definition is simply a list of strings starting with the program
#   two special items, window-id and tab-name take a format string argument
#     e.g    window-id("--embed=0x%08x")
#     or     "-embed" window-id("%d")

command xterm {
    "xterm"
    "-into" window-id("%d")
    "-class" tab-name("%s")
}

command emacs {
    "emacs"
    "--parent-id" window-id("%d")
}

command urxvt {
    "urxvt"
    "-embed" window-id("%d")
    "-pe" "default,-tabbed"
}

command gvim {
    "gvim"
    "-g"
    "--socketid" window-id("%d")
}


# specify the command and otions that will run in one of the tabs

pane "Project 1" {
    run urxvt
    start manual
    running colour(0xffff,0x1fff,0x1fff)
    stopped colour(0x3fff,0x1fff,0x1fff)
    #cwd "/tmp"
    send-line "export PROJECT=p1"
    send-line "echo 'Hello World!'\"   [aa]{BB}\""
}

# Note: no cwd so starts in directory where conlecterm was started
pane "Project 2" {
    run urxvt
    start manual
    running colour(0x1fff,0xffff,0x1fff)
    stopped colour(0x1fff,0x3fff,0x1fff)
    send-line "export PROJECT=p2"
}

pane "Project 3" {
    run urxvt
    start manual
    running colour(0x1fff,0x1fff,0xffff)
    stopped colour(0x1fff,0x1fff,0x3fff)
    cwd "/tmp"
    send-line "pwd"
}

# user
pane "Project 4" {
    run urxvt
    start manual
    running colour(0x3fff,0xffff,0x1fff)
    stopped colour(0x3fff,0x3fff,0x1fff)
    cwd ""   # same as "${HOME}"  (
    send-line "pwd"
}

# user relative
pane "Project 5" {
    run urxvt
    start manual
    running colour(0x1fff,0xffff,0xffff)
    stopped colour(0x1fff,0x3fff,0x3fff)
    cwd ".config"    # no leading '/' so => "${HOME}/.config"
    send-line "pwd"
}

pane "Work" {
    run urxvt
    start manual
    running colour(0x2fff,0x2fff,0x7fff)
    stopped colour(0x1fff,0x1fff,0x3fff)
    send-line "export CONF=test1"
    send-line "work-setup"
}

pane "shell" {
    run urxvt
    start auto
    running colour(0x2fff,0x2fff,0x7fff)
    stopped colour(0x1fff,0x1fff,0x3fff)
    cwd "/tmp"
}

pane "EMACS" {
    run emacs
    start auto
    running colour(0x2fff,0x2fff,0x7fff)
    stopped colour(0x1fff,0x1fff,0x3fff)
    #cwd home
}

pane "xterm-etc" {
    run xterm
    start auto
    running colour(0x2fff,0x2fff,0x7fff)
    stopped colour(0x1fff,0x1fff,0x3fff)
    cwd "/etc"
}

pane "Vi IMproved" {
    run gvim
    start auto
    running colour(0x2fff,0x2fff,0x7fff)
    stopped colour(0x1fff,0x1fff,0x3fff)
    #cwd home
}
