/*
** conlecterm.css
*/

@import url("tabs.css");

/* widget CSS */

#conlecterm header {
  outline-width: 0px;
  margin: 0px;
  padding: 0px;
  min-width: 0px;
  min-height: 0px;
  border-width: 0px;
  border-style: none;
  border-color: red;
}


/* controls the minimum size/border of the tab */
#conlecterm header tab > box,
#conlecterm header tab > label,
#conlecterm header tab > widget > box {
  outline-width: 0px;
  padding: 1px;
  margin: 0px;
  min-width: 100px;
  min-height: 20px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: grey20;
  /*transition: border-color .2s linear;*/
}

/* controls button padding and table border */
#conlecterm button {
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: grey60;
}

/* background when insufficient tabs to fill bar */
#conlecterm header > tabs {
  outline-width: 0px;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: none;
  border-color: red;
  background-image: none;
  background-color: wheat3;
}


/* arrow background */

#conlecterm header > tabs > arrow,
#conlecterm header > tabs > arrow:disabled,
#conlecterm header > tabs > arrow:focus {
  outline-width: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 14px;
  border-width: 0px;
  border-style: none;
  border-color: red;
  background-color: grey60;
  color: black;
}
#conlecterm header > tabs > arrow:active {
  background-color: grey80;
  color: black;
}

#conlecterm header > tabs > arrow:hover,
#conlecterm header > tabs > arrow:active:hover {
  background-color: grey90;
  color: black;
}


/* fixed position tabs */

#conlecterm header > tabs > tab {
  outline-width: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 12pt;
  font-weight: bold;
  color: darkblue;
  background-color: LightSteelBlue2;
}

#conlecterm header > tabs > tab:hover {
  background-color: pink;
}

#conlecterm header > tabs > tab:checked {
  background-color: peachpuff;
}

#conlecterm header > tabs > tab:checked:hover {
  background-color: hotpink;
}

/* moveable tabs */

#conlecterm header > tabs > tab.reorderable-page {
  color: black;
  background-color: LightSteelBlue;
}

#conlecterm header > tabs > tab.reorderable-page:hover {
  background-color: pink;
}

#conlecterm header > tabs > tab.reorderable-page:checked {
  background-color: plum;
}

#conlecterm header > tabs > tab.reorderable-page:checked:hover {
  background-color: hotpink;
}

#conlecterm header > tabs > tab label.running {
  font-weight: bold;
  font-style: italic;
  font-size: 12pt;
  text-decoration: underline wavy;
  background: rgba(255,240,255,0.3);
}


/* buttons for start/close */

#conlecterm stack > box {
  background-image: none;
  background-color: mistyrose;
}

#conlecterm stack .start_button {
  background-color: darkgreen;
  font-size: 90pt;
  font-weight: bold;
  color: darkseagreen;
  border-color: black;
}

#conlecterm button:hover .start_button {
  color: lightgreen;
  background-color: green4;
  border-color: black;
}

#conlecterm button:hover:active .start_button {
  color: darkgreen;
  background-color: green3;
  border-color: black;
}

#conlecterm stack .close_button {
  background-color: darkred;
  font-size: 20pt;
  font-weight: bold;
  color: red;
  border-width: 0px;
  border-color: black;
}

#conlecterm button:hover .close_button {
  color: red;
  background-color: tomato;
  border-color: black;
}

#conlecterm button:hover:active .close_button {
  color: white;
  background-color: red;
  border-color: black;
}


/* all items in the +NEW page */

#conlecterm stack {
  background-image: none;
  background-color: LightYellow3;
}

#conlecterm .item_button {
  font-size: 18pt;
  font-weight: bold;
  background-color: LightYellow3;
  border-style: none;
  border-color: red;
  border-width: 0px;
}

#conlecterm button:hover .item_button {
  text-decoration: underline wavy;
  background-color: MistyRose;
  color: black;
  border-color: black;
}

#conlecterm button:hover:active .item_button {
  background-color: steelblue;
  border-color: black;
}
