[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Categories=System;TerminalEmulator;
Comment[en_GB]=Multi tabbed terminal handler
Comment=Multi tabbed terminal handler
Exec=conlecterm
GenericName[en_GB]=Multi tabbed terminal handler
GenericName=Multi tabbed terminal handler
Icon[en_GB]=conlecterm
Icon=conlecterm
Keywords=Terminal;Console;
Name[en_GB]=Conlecterm
Name=Conlecterm
Terminal=false
StartupNotify=false
