[Desktop Entry]
Categories=System;TerminalEmulator;
Comment[en_GB]=Multi tabbed terminal handler
Comment=Multi tabbed terminal handler
Exec=@BINDIR@Conlecterm
GenericName[en_GB]=Conlecterm
GenericName=Conlecterm
Icon=utilities-terminal
MimeType=
Name[en_GB]=Conlecterm
Name=Conlecterm
StartupNotify=true
Terminal=false
Type=Application
